### K9s
- name: Get k9s pakage
  ansible.builtin.get_url:
    url:  "https://github.com/derailed/k9s/releases/download/v{{ k9s_version }}/k9s_linux_amd64.deb"
    dest: "/home/{{ host_user }}/k9s.deb"
  register: donwload_k9s_status

- name : Install k9s.deb
  ansible.builtin.apt:
    deb: "/home/{{ host_user }}/k9s.deb"
    state: present

### Helm
- name: Install Helm if not exists
  ansible.builtin.unarchive:
    src: https://get.helm.sh/helm-{{ helmVersion }}-linux-amd64.tar.gz
    dest: /usr/local/bin
    extra_opts: "--strip-components=1"
    owner: root
    group: root
    mode: 0755
    remote_src: true
  args:
    creates: /usr/local/bin/helm

- name: Install Helm-diff plugin
  kubernetes.core.helm_plugin:
    plugin_path: https://github.com/databus23/helm-diff
    state: present

- name: Create utils manifests directory
  ansible.builtin.file:
    path: /etc/kubernetes/utils
    state: directory
    mode: '0700'

### Priority classes
- name: Apply priority classes manifest
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file','priorityclass.yaml') | from_yaml_all }}"

### Longhorn
- name: Longhorn
  when: longhornEnable
  block:
    - name: Add a longhorn repository
      kubernetes.core.helm_repository:
        name: longhorn
        repo_url: https://charts.longhorn.io

    - name: Install longhorn helm chart
      kubernetes.core.helm:
        name: longhorn
        chart_ref: longhorn/longhorn
        chart_version: "{{ longhornChartVersion }}"
        release_namespace: longhorn-system
        create_namespace: true
        values:
          defaultSettings:
            defaultDataPath: /mnt/shared/
            createDefaultDiskLabledNodes: true
            defaultReplicaCount: "{{ longhornReplicaCount }}"
            priorityClass: high-priority
            orphanAutoDeletion: true
        wait: yes

    # - name: set longhorn storageclass default only
    #   kubernetes.core.k8s:
    #     state: patched
    #     kind: Namespace
    #     name: patch_namespace
    #     definition:
    #       metadata:
    #         labels:
    #           support: patch


### GatewayAPI CDR

- name: Download GatewayAPI CDR manifest to the cluster.
  ansible.builtin.get_url:
    url: https://github.com/kubernetes-sigs/gateway-api/releases/download/{{ GatewayAPICDRVersion }}/standard-install.yaml
    dest: ~/gatewayapi-cdr.yaml
    mode: '0664'

- name: Apply GatewayAPI CDR manifest to the cluster.
  kubernetes.core.k8s:
    state: present
    src: ~/gatewayapi-cdr.yaml

### Cert-manager
- name: Install cert-manager
  when: certManagerEnable
  block:
    - name: Run a cert-manager helm
      kubernetes.core.helm:
        name: cert-manager
        chart_ref: oci://quay.io/jetstack/charts/cert-manager
        chart_version: "{{ certManagerVersion }}"
        release_namespace: cert-manager
        create_namespace: true
        values:
          crds:
            enabled: true
          global:
            priorityClassName: high-priority
          config:
            apiVersion: "controller.config.cert-manager.io/v1alpha1"
            kind: "ControllerConfiguration"
            enableGatewayAPI: true
        wait: true
      register: cert_manager_install

    - name: Apply Issuer manifests
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('file','certs.yaml') | from_yaml_all }}"

### Metrics server
- name: Apply metrics server manifest
  kubernetes.core.k8s:
    state: present
    template: 'metrics-server.j2'

### MetalLB
- name: MetalLB
  when: metallbEnable
  block:
    - name: Add a metallb repository
      kubernetes.core.helm_repository:
        name: metallb
        repo_url: https://metallb.github.io/metallb

    - name: Install metallb helm chart
      kubernetes.core.helm:
        name: metallb
        chart_ref: metallb/metallb
        chart_version: "{{ metallbChartVersion }}"
        release_namespace: metallb
        create_namespace: true
        values:
          controller:
            image:
              pullPolicy: IfNotPresent
          speaker:
            image:
              pullPolicy: IfNotPresent
        wait: yes

    - name: Apply metallb pool manifest
      kubernetes.core.k8s:
        namespace: metallb
        state: present
        template: 'mlb.j2'

### GatewayAPI
- name: Install GatewayAPI Envoy
  block:
    - name: Install Envoy Gateway
      kubernetes.core.helm:
        name: eg
        chart_ref: oci://docker.io/envoyproxy/gateway-helm
        chart_version: "{{ envoyVersion }}"
        release_namespace: envoy-gateway-system
        create_namespace: true
        values:
          deployment:
            priorityClassName: high-priority
            replicas: 1
        wait: true
      register: envoy_gateway_install

    - name: Apply envoyProxy-config
      kubernetes.core.k8s:
        state: present
        template: 'EnvoyProxy-Config.j2'

    - name: Apply gateway-class
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('file','gateway-class.yaml') | from_yaml }}"

    - name: Apply gateway-cert
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('file','gateway-cert.yaml') | from_yaml }}"

    - name: Apply gateway
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('file','gateway.yaml') | from_yaml }}"
