### K9s
- name: Get k9s pakage
  ansible.builtin.get_url:
    url:  "https://github.com/derailed/k9s/releases/download/v{{ k9s_version }}/k9s_linux_amd64.deb"
    dest: "/home/{{ host_user }}/k9s.deb"
  register: donwload_k9s_status

- name : Install k9s.deb
  ansible.builtin.apt:
    deb: "/home/{{ host_user }}/k9s.deb"
    state: present

### Helm
- name: "Install Helm"
  ansible.builtin.unarchive:
    src: "https://get.helm.sh/helm-{{ helmVersion }}-linux-amd64.tar.gz"
    dest: /root/
    remote_src: true
    creates: /root/linux-amd64
  register: helm

- name: "Move helm in /usr/local/bin"
  ansible.builtin.command: mv /root/linux-amd64/helm /usr/local/bin/helm
  when: helm.changed

- name: Check is helm-diff plugin installed
  ansible.builtin.shell: helm plugin list | grep -q diff
  register: helm_diff
  ignore_errors: true

- name: "Helm, install plugin helm-diff"
  command: helm plugin --verify=false install https://github.com/databus23/helm-diff
  when: helm_diff.rc != 0

- name: Create utils manifests directory
  ansible.builtin.file:
    path: /etc/kubernetes/utils
    state: directory
    mode: '0700'

### Priority classes
- name: Copy priority classes manifest
  ansible.builtin.copy:
    src: priorityclass.yaml
    dest: /etc/kubernetes/utils/priorityclass.yaml
    mode: '0600'
  register: priority_class

- name: Apply priority classes manifest
  ansible.builtin.command: kubectl apply -f /etc/kubernetes/utils/priorityclass.yaml
  when: priority_class.changed

### Cert-manager
- name: Install cert-manager
  when: certManagerEnable
  block:
    - name: Add a cert-manager manifest
      ansible.builtin.get_url:
        url: https://github.com/cert-manager/cert-manager/releases/download/{{ certManagerVersion }}/cert-manager.yaml
        dest: /etc/kubernetes/utils/cert-manager.yaml
        mode: '0600'
      register: cert_manager

    - name: Apply manifest cert-manager
      when: cert_manager.changed
      ansible.builtin.command: kubectl apply -f /etc/kubernetes/utils/cert-manager.yaml

    - name: Sorry, but I need sleep to 2 minutes. Wait cert manager running.
      ansible.builtin.wait_for:
        timeout: 120

    - name: Add Issuer manifests
      ansible.builtin.copy:
        src: certs.yaml
        dest: /etc/kubernetes/utils/certs.yaml
        mode: '0600'
      register: issuer

    - name: Apply Issuer manifests
      ansible.builtin.command: kubectl apply -f /etc/kubernetes/utils/certs.yaml
      when: issuer.changed

### Metrics server
- name: Copy metrics server manifest
  ansible.builtin.template:
    src: metrics-server.j2
    dest: /etc/kubernetes/utils/metrics-server.yaml
    mode: '0600'
  when: metricsServerEnable
  register: metrics_server

- name: Apply metrics server manifest
  ansible.builtin.command: kubectl apply -f /etc/kubernetes/utils/metrics-server.yaml
  when: metrics_server.changed

### MetalLB
- name: MetalLB
  when: metallbEnable
  block:
    - name: Add a metallb repository
      kubernetes.core.helm_repository:
        name: metallb
        repo_url: https://metallb.github.io/metallb

    - name: Install metallb helm chart
      kubernetes.core.helm:
        name: metallb
        chart_ref: metallb/metallb
        chart_version: "{{ metallbChartVersion }}"
        release_namespace: metallb
        create_namespace: true
        values:
          controller:
            image:
              pullPolicy: IfNotPresent
          speaker:
            image:
              pullPolicy: IfNotPresent
      ignore_errors: true # for helm v4 for now.

    - name: Check metallb status
      ansible.builtin.command: |
                kubectl -n metallb get deployment.apps/metallb-controller \
                -o jsonpath='{.status.readyReplicas}'
      register: metallb_controller_status
      until: metallb_controller_status.stdout | int > 0
      retries: 10
      delay: 10

    - name: Copy metallb pool manifest
      ansible.builtin.template:
        src: mlb.j2
        dest: /etc/kubernetes/utils/mlb.yaml
        mode: '0600'
      register: mlb_pool

    - name: Apply metallb pool manifest
      ansible.builtin.command: |
        kubectl -n metallb apply -f /etc/kubernetes/utils/mlb.yaml
      when: mlb_pool.changed

### Cert-manager
- name: Install cert-manager
  ansible.builtin.shell: |
    helm upgrade --install \
    cert-manager oci://quay.io/jetstack/charts/cert-manager \
    --version v1.19.2 \
    --namespace cert-manager \
    --create-namespace \
    --set crds.enabled=true \
    --set global.priorityClassName=high-priority \
    --set config.apiVersion="controller.config.cert-manager.io/v1alpha1" \
    --set config.kind="ControllerConfiguration" \
    --set config.enableGatewayAPI=true \
    --wait
  args:
    creates: /tmp/cert-manager-installed
  register: cert_manager_install
  changed_when: |
    "'STATUS: deployed' in cert_manager_install.stdout or
    'upgraded' in cert_manager_install.stdout"

